<mat-drawer-container class="mat-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="modal-header" style="text-align: center;">
             <h5 class="modal-title" id="myModalLabel2">Filtre</h5>
        </div>
        <div class="body"> 
             <div style="clear:both;margin-bottom: 15px!important"></div>  
   
             <mat-form-field appearance="outline" [style.width.%]="100">
                <mat-label>Başlangıç</mat-label> 
                <input matInput [matDatepicker]="dp" placeholder="Başlangıç Tarih"  [(ngModel)]="filter.Baslangic" (ngModelChange)="BasTarihChg($event)">
                 <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" [style.width.%]="100">
                <mat-label>Bitiş</mat-label> 
                <input matInput [matDatepicker]="dp1" placeholder="Bitiş Tarih"  [(ngModel)]="filter.Bitis" (ngModelChange)="BitTarihChg($event)">
                 <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                <mat-datepicker #dp1></mat-datepicker>
              </mat-form-field>    
              
            <div style="clear:both;margin-bottom: 5px!important"></div> 
        </div>
        <div class="modal-footer">
            <input type="button" class="btn btn-default" (click)="drawer.toggle()" value="Kapat" />
            <input type="button" class="btn btn-info" (click)="GetDepoSayim()" value="Listele" />
        </div>
    </mat-drawer>
   
    <mat-drawer-content> 

<div class="content">
    <nav class="menu-navigation-icons">
        <a href="#" (click)="drawer.toggle()" class="menu-silver" ><i class="fas fa-filter"></i><span>Filtre</span></a> 
        <a href="#" class="menu-silver" (click)="GetDepoSayim()"><i class="fas fa-sync-alt"></i><span>Yenile</span></a>
        <a *ngIf="yetki.Ekle" href="#" class="menu-blue" (click)="sayimmodOpen(modsayim)"><i class="fas fa-plus-circle"></i><span>Kalem Ekle</span></a>
        
        <!-- <a *ngIf="this.silgoster && yetki.Sil" href="#" class="menu-red" (click)="kayitsil()"><i class="fas fa-minus-circle"></i><span>Sil</span></a> -->
        <a href="#" (click)="belgeYukleModal(belgeyukle)" *ngIf="this.evrekyuklegoster" class="menu-red" style="width: 95px!important;"><i class="fas fa-file-upload"></i><span>Talep Belge</span></a>

        <a href="#" (click)="this.gridSayimYonetim.instance.showColumnChooser()" style="float: right!important;" class="menu-blue" ><i class="fas fa-filter"></i><span>Sütun Seç</span></a> 
        <a href="#" (click)="this.gridSayimYonetim.instance.exportToExcel(false)" style="float: right!important;" class="menu-green" ><i class="fas fa-file-excel"></i><span>Excel</span></a> 

    </nav>
    <div style="clear:both"></div>
    
    <dx-data-grid class="devgrid74" #gridSayimYonetim
    [dataSource]="taleplist"   
    [showBorders]="true" 
    [remoteOperations]="true"
    [showColumnLines]="false"
    [showRowLines]="true" 
    [rowAlternationEnabled]="true"
    [focusedRowEnabled]="true"
    [columnAutoWidth]="true"
    [allowColumnResizing]="true"
    keyExpr="Id" 
    columnResizingMode = "widget"  
    (onEditingStart)="overrideOnValueChanged($event)"
    (onRowUpdated)="CellDegisti($event)" 
    (onSelectionChanged)="silgosterChanged($event)"
    > 
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
    <dxo-load-panel [enabled]="true"></dxo-load-panel> 
    <dxo-column-chooser [enabled]="false" mode="select"></dxo-column-chooser>
    <dxo-scrolling mode="virtual" showScrollbar="'always'" useNative="false" scrollByThumb="true" ></dxo-scrolling> 
    <dxo-paging [pageSize]="30"> </dxo-paging>
    <dxo-pager [visible]="true" displayMode="'compact'" [showPageSizeSelector]="false" [showInfo]="true" [showNavigationButtons]="true"></dxo-pager> 
    <dxo-selection mode="single"></dxo-selection>   
    <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>    
 
    <dxi-column [style.width.%]="10" caption="Sayim Tarih" dataField="SayimTarih" dataType="date" format="dd.MM.yyyy" [allowEditing]="false"></dxi-column> 
    <dxi-column [style.width.%]="10" caption="Sayım Tip" dataField="SayimTip" [allowEditing]="false" ></dxi-column>
    <dxi-column [style.width%]="10" caption="Depo Kodu" dataField="DepoKodu"  [allowEditing]="false" alignment="center"></dxi-column>
    <dxi-column [style.width%]="10" caption="Depo Adı" dataField="DepoAdi" [allowEditing]="false" alignment="center"></dxi-column>

    <dxi-column dataField="Durum" caption="Durum" cellTemplate="cellDurum" [style.width.%]="10" alignment="center" [allowEditing]="false"></dxi-column>
    <div *dxTemplate="let cell of 'cellDurum'"> 
      <span *ngIf="cell.data.DurumId===0" style="cursor: pointer;" class="badge pill-medium bg-info" (click)="onaytakip(onaytakipmod,cell.data)">{{cell.data.Durum}}</span>
      <span *ngIf="cell.data.DurumId===1" style="cursor: pointer;" class="badge pill-medium bg-success" (click)="onaytakip(onaytakipmod,cell.data)">{{cell.data.Durum}}</span>    
      <span *ngIf="cell.data.DurumId===2" style="cursor: pointer;" class="badge pill-medium bg-danger" (click)="onaytakip(onaytakipmod,cell.data)">{{cell.data.Durum}}</span>    
    </div> 

    <dxi-column dataField="Aciklama" caption="Açıklama" [width]="200" [allowEditing]="false"></dxi-column>           
     
    <dxi-column [style.width.%]="10" caption="Ekleyen" dataField="Ekleyen" [allowEditing]="false"></dxi-column> 
    <dxi-column [style.width.%]="10" caption="Kayıt Tarih" dataField="EkTarih" dataType="date" format="dd.MM.yyyy HH:mm" [allowEditing]="false"></dxi-column> 
    <dxi-column [style.width.%]="10" caption="Guncelleyen" dataField="Guncelleyen" [allowEditing]="false"></dxi-column> 
    <dxi-column [style.width.%]="10" caption="Güncelleme Tarih" dataField="GuncelTarih" dataType="date" format="dd.MM.yyyy HH:mm" [allowEditing]="false"></dxi-column>   
    
    </dx-data-grid>  
</div>

</mat-drawer-content> 
</mat-drawer-container> 


<ng-template #modsayim let-modal>
    <div class="modal-header">
      <h4 class="modal-title" >Sayım Oluştur</h4> 
    </div>
    <div class="modal-body"> 

        <mat-form-field appearance="outline" [style.width.%]="100">
            <mat-label>Sayım Yapılacak Mağaza</mat-label>
              <mat-select  #singleSelect [(ngModel)]="secilikalem.DepoKodu">
                <mat-option>
                  <ngx-mat-select-search [formControl]="formDepo"  
                   placeholderLabel="Ara..."
                   noEntriesFoundLabel="Kayıt Bulunamadı...">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let gr of filterDepo | async" [value]="gr.DepoKodu" >
                  {{gr.DepoAdi}}
                </mat-option>
              </mat-select>
              <button mat-button matSuffix *ngIf="secilikalem.DepoKodu!=''" mat-icon-button (click)="defDepo($event)">
                 <mat-icon>close</mat-icon>
             </button>
        </mat-form-field>

        <mat-form-field appearance="outline" [style.width.%]="100">
            <mat-label>Sayım Tipi</mat-label>
              <mat-select  #singleSelect [(ngModel)]="FireTipiId">
                <mat-option>
                  <ngx-mat-select-search [formControl]="formFire"  
                   placeholderLabel="Ara..."
                   noEntriesFoundLabel="Kayıt Bulunamadı...">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let gr of filterFire | async" [value]="gr.Id" >
                  {{gr.Tip}}
                </mat-option>
              </mat-select>
              <button mat-button matSuffix *ngIf="FireTipiId>0" mat-icon-button (click)="defFire($event)">
                 <mat-icon>close</mat-icon>
             </button>
        </mat-form-field> 

        <mat-form-field appearance="outline"  [style.width.%]="100">
            <mat-label>Sayım Tarih</mat-label> 
            <input matInput [matDatepicker]="dp3" placeholder="Sayım Tarih"  [(ngModel)]="TalepTarih" (ngModelChange)="BasTarihChg($event)">
             <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3></mat-datepicker>
          </mat-form-field> 

        <mat-form-field appearance="outline" [style.width.%]="100" >
            <mat-label>Açıklama</mat-label>
            <input matInput placeholder="Açıklama" [(ngModel)]="TalepAciklama" autocomplete="off">
        </mat-form-field>        
       
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Kapat</button>
      <button type="button" class="btn btn-success" (click)="kaydet()">Kaydet</button>
    </div>
  </ng-template>

  <ng-template #onaytakipmod let-modal>
    <div class="modal-header">
    <h4 class="modal-title" >Onay Takip</h4> 
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    <app-onay-durum-kontrol [onayid]="onayid"></app-onay-durum-kontrol>
    </div> 
  </ng-template>  

  <ng-template #belgeyukle let-modal>
    <div class="modal-header">
      <h4 class="modal-title" >Belgeler</h4> 
      <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <app-belge-goruntule [semkey]="this.secilikalem.semkey" [kayitid]="this.secilikalem.Id" [ekranid]="1" [secilidata]="this.secilikalem" [defbelgetipid]="1"></app-belge-goruntule>  
  </ng-template>
