.switchfont{
    font-size: 14px!important;
    margin-right: 5px;    
    }
    
    .usercard1{
        padding-bottom: 20px!important;
    }
    
    .kullanicidetaymodal .modal-dialog {
        max-width: 75%!important;
      }