 
<mat-drawer-container class="mat-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="modal-header" style="text-align: center;">
             <h5 class="modal-title" id="myModalLabel2">Filtre</h5>
        </div>
        <div class="body">
            <div style="clear:both;margin-bottom: 15px!important"></div>  
            <mat-form-field appearance="outline" [style.width.%]="100">
                <mat-label>Başlangış Tarih</mat-label> 
                <input matInput [matDatepicker]="dp" placeholder="Başlangış Tarih"  [(ngModel)]="filter.Baslangic" (ngModelChange)="BasTarihChg($event)">
                 <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="outline" [style.width.%]="100">
                <mat-label>Bitiş Tarih</mat-label> 
                <input matInput [matDatepicker]="dp1" placeholder="Bitiş Tarih"  [(ngModel)]="filter.Bitis" (ngModelChange)="BitTarihChg($event)">
                <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                <mat-datepicker #dp1></mat-datepicker>
              </mat-form-field>
            <div style="clear:both;margin-bottom: 5px!important"></div>  
        </div>
        <div class="modal-footer">
            <input type="button" class="btn btn-default" (click)="drawer.toggle()" value="Kapat" />
            <input type="button" class="btn btn-info" (click)="TalepListele()" value="Listele" />
        </div>
    </mat-drawer>
   
    <mat-drawer-content> 

      <div class="content">
          <nav class="menu-navigation-icons">
            <!-- <a href="#" (click)="drawer.toggle()" class="menu-silver"><i class="fas fa-filter"></i><span>Filtre</span></a>  -->
              <a href="#" class="menu-silver" (click)="TalepListele()"><i class="fas fa-sync-alt"></i><span>Yenile</span></a>
              <a *ngIf="this.silgoster && yetki.Ekle" href="#" class="menu-blue" (click)="teklifModal(modteklifhazirlik)"><i class="fas fa-plus-circle"></i><span>Teklif</span></a> 
              <a *ngIf="this.silgoster && yetki.Sil"  href="#" class="menu-magenta" (click)="talepIptalMod(talepiptalmodal)"><i class="fas fa-remove"></i><span>İptal</span></a>

              <a href="#" (click)="belgeYukleModal(belgeyukle)" *ngIf="this.evrekyuklegoster" class="menu-red" style="width: 95px!important;"><i class="fas fa-file-upload"></i><span>Talep Belge</span></a>

              <a href="#" (click)="this.gridTeklifHazirlik.instance.showColumnChooser()" style="float: right!important;" class="menu-blue" ><i class="fas fa-filter"></i><span>Sütun Seç</span></a> 
              <a href="#" (click)="this.gridTeklifHazirlik.instance.exportToExcel(false)" style="float: right!important;" class="menu-green" ><i class="fas fa-file-excel"></i><span>Excel</span></a> 

          </nav>
          <div style="clear:both"></div>
          
          
          <dx-data-grid class="devgrid74"
          id="gridTeklifHazirlik" #gridTeklifHazirlik
          [dataSource]="taleplist"  
          [showBorders]="true"
          [showColumnLines]="false"
          [showRowLines]="true" 
          [rowAlternationEnabled]="true"
          [focusedRowEnabled]="true"
          [columnAutoWidth]="true"
          [allowColumnResizing]="true" 
          [allowColumnReordering]="true"
          keyExpr="SatirGuid" 
          columnResizingMode = "widget"   
          (onSelectionChanged)="silgosterChanged($event)" 
          > 
          <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-header-filter [visible]="true"></dxo-header-filter><dxo-header-filter [allowSearch]="true"></dxo-header-filter>  
          <dxo-scrolling 
            mode="virtual"
            showScrollbar="'always'"
            useNative="false"
            scrollByThumb="true" >
        </dxo-scrolling> 
          <dxo-load-panel [enabled]="true"></dxo-load-panel>
          <dxo-paging [pageSize]="30"> </dxo-paging>
          <dxo-pager
              [visible]="true" 
              displayMode="'compact'"
              [showPageSizeSelector]="false"
              [showInfo]="true"
              [showNavigationButtons]="true">
          </dxo-pager> 
          <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
          <dxo-selection
          [selectAllMode]="allMode"
          [showCheckBoxesMode]="checkBoxesMode"
          mode="multiple"
          ></dxo-selection> 

          <dxi-column caption="#" cellTemplate="cellTarihce" [style.width.%]="10" alignment="center" [allowEditing]="false"></dxi-column>
          <div *dxTemplate="let cell of 'cellTarihce'"> 
            <i class="fas fa-info-circle" (click)="tarihceDetay(belgetarihcemod,cell.data)" title="Talep Tarihçe Detayını Görebilirsiniz" style="cursor:pointer"></i>
          </div> 

          <dxi-column [style.width.%]="15" caption="Talep Id" dataField="TalepId" alignment="center"></dxi-column> 


          <dxi-column dataField="SapTalepNo" caption="Sap Talep No" cellTemplate="cellTemplateId" [style.width.%]="4" alignment="center" [allowEditing]="false"></dxi-column>
          <div *dxTemplate="let cell of 'cellTemplateId'">
              <div>{{cell.text}}</div>
          </div>
          
          
          <dxi-column 
          dataField="StokKodu"
          caption="Stok Kodu" 
          [style.width.%]="15" [allowEditing]="false" >     
          </dxi-column>
          
          <dxi-column 
          dataField="StokAdi"
          caption="Stok Adı" 
          [style.width.%]="15" [allowEditing]="false" >     
          </dxi-column>
            
          <dxi-column dataField="TalepIhtDurum" caption="İhtiyaç Durum" cellTemplate="cellTalepDurum" [style.width.%]="10" alignment="center" [allowEditing]="false"></dxi-column>
          <div *dxTemplate="let cell of 'cellTalepDurum'"> 
              <span *ngIf="cell.data.TalepDurumId===1" style="cursor: pointer;" class="badge pill-medium bg-info">Normal</span>
              <span *ngIf="cell.data.TalepDurumId===2" style="cursor: pointer;" class="badge pill-medium bg-warning">Orta</span>    
              <span *ngIf="cell.data.TalepDurumId===3" style="cursor: pointer;" class="badge pill-medium bg-danger">Acil</span>    
          </div>

          <dxi-column  
          dataField="Miktar" [style.width.%]="15"
          caption="Talep Miktar"  [allowEditing]="false" alignment="center">
          </dxi-column>  

          <dxi-column  
          dataField="OnaylananMiktar" [style.width.%]="15"
          caption="Onaylanan Miktar"  [allowEditing]="false" alignment="center">
          </dxi-column> 
          
          <dxi-column  
          dataField="Birim"  
          caption="Birim"  
          [style.width.%]="15" [allowEditing]="false" alignment="center">
          </dxi-column> 
          
          <dxi-column
          dataField="DepoAdi"
          caption="Depo"
          [style.width.%]="15">        
          </dxi-column>
          
          <dxi-column  
          dataField="Aciklama"  
          caption="Açıklama"  
          [style.width.%]="15">
          </dxi-column>  
          
          <dxi-column 
          dataField="OnayAciklama" [width]="225"
          caption="Onay Açıklama"  [allowEditing]="false">   
          </dxi-column> 
          
          <dxi-column [style.width.%]="10" caption="Şirket" dataField="SapSirketId" alignment="center" [visible]="false"> </dxi-column>
          <dxi-column [style.width.%]="10" caption="Talep Eden" dataField="Ekleyen" alignment="center"></dxi-column> 
          <dxi-column [style.width.%]="10" caption="Departman" dataField="Departman" alignment="center"></dxi-column> 
          <dxi-column [style.width.%]="10" caption="Pozisyon" dataField="Pozisyon" alignment="center"></dxi-column> 
          <dxi-column [style.width.%]="10" caption="Talep Tarih" dataField="EkTarih" dataType="date" format="dd.MM.yyyy HH:mm"></dxi-column>   
          
          </dx-data-grid>  
      </div>

</mat-drawer-content> 
</mat-drawer-container>

<ng-template #modteklifhazirlik let-modal>
    <div class="modal-header">
      <h4 class="modal-title" >Teklif Hazırlık</h4> 
    </div>
    <div class="modal-body"> 
        <div class="row">

          <mat-form-field appearance="outline" [style.width.%]="20" >
            <mat-label>1.Firma Seçiniz</mat-label>
                <input matInput type="search" [(ngModel)]="teklif.Firma1Adi" readonly>

                <button *ngIf="teklif.Firma1Kodu==''" mat-button matSuffix mat-icon-button (click)="firmaSec(carihesapsecmod,1)">
                  <mat-icon style="color: #007bff;font-weight: bold;" title="Firma Seç">search</mat-icon>
                </button>

                <button *ngIf="teklif.Firma1Kodu!=''" mat-button matSuffix mat-icon-button (click)="firmaTemizle(1)">
                  <mat-icon style="color: red;font-weight: bold" title="Firma Sil">cancel</mat-icon>
                </button>
            </mat-form-field> 

            <mat-form-field appearance="outline" [style.width.%]="20" [hidden]="teklif.Firma1Kodu==''">
              <mat-label>2.Firma Seçiniz</mat-label>
                  <input matInput type="search" [(ngModel)]="teklif.Firma2Adi" readonly>
  
                  <button *ngIf="teklif.Firma2Kodu==''" mat-button matSuffix mat-icon-button (click)="firmaSec(carihesapsecmod,2)">
                    <mat-icon style="color: #007bff;font-weight: bold;" title="Firma Seç">search</mat-icon>
                  </button>
  
                  <button *ngIf="teklif.Firma2Kodu!=''" mat-button matSuffix mat-icon-button (click)="firmaTemizle(2)">
                    <mat-icon style="color: red;font-weight: bold" title="Firma Sil">cancel</mat-icon>
                  </button>
              </mat-form-field>

              <mat-form-field appearance="outline" [style.width.%]="20" [hidden]="teklif.Firma2Kodu==''">
                <mat-label>3.Firma Seçiniz</mat-label>
                    <input matInput type="search" [(ngModel)]="teklif.Firma3Adi" readonly>
    
                    <button *ngIf="teklif.Firma3Kodu==''" mat-button matSuffix mat-icon-button (click)="firmaSec(carihesapsecmod,3)">
                      <mat-icon style="color: #007bff;font-weight: bold;" title="Firma Seç">search</mat-icon>
                    </button>
    
                    <button *ngIf="teklif.Firma3Kodu!=''" mat-button matSuffix mat-icon-button (click)="firmaTemizle(3)">
                      <mat-icon style="color: red;font-weight: bold" title="Firma Sil">cancel</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.width.%]="20" [hidden]="teklif.Firma3Kodu==''">
                    <mat-label>4.Firma Seçiniz</mat-label>
                    <input matInput type="search" [(ngModel)]="teklif.Firma4Adi" readonly>
                    
                    <button *ngIf="teklif.Firma4Kodu==''" mat-button matSuffix mat-icon-button (click)="firmaSec(carihesapsecmod,4)">
                      <mat-icon style="color: #007bff;font-weight: bold;" title="Firma Seç">search</mat-icon>
                    </button>
                
                    <button *ngIf="teklif.Firma4Kodu!=''" mat-button matSuffix mat-icon-button (click)="firmaTemizle(4)">
                      <mat-icon style="color: red;font-weight: bold" title="Firma Sil">cancel</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.width.%]="20" [hidden]="teklif.Firma4Kodu==''">
                    <mat-label>5.Firma Seçiniz</mat-label>
                        <input matInput type="search" [(ngModel)]="teklif.Firma5Adi" readonly>
                
                        <button *ngIf="teklif.Firma5Kodu==''" mat-button matSuffix mat-icon-button (click)="firmaSec(carihesapsecmod,5)">
                          <mat-icon style="color: #007bff;font-weight: bold;" title="Firma Seç">search</mat-icon>
                        </button>
                    
                        <button *ngIf="teklif.Firma5Kodu!=''" mat-button matSuffix mat-icon-button (click)="firmaTemizle(5)">
                          <mat-icon style="color: red;font-weight: bold" title="Firma Sil">cancel</mat-icon>
                        </button>
                    </mat-form-field>

              <br>

              <mat-form-field appearance="outline" [style.width.%]="100" >
                <mat-label>Açıklama</mat-label>
                <input matInput placeholder="Açıklama" [(ngModel)]="teklif.Aciklama" autocomplete="off">
            </mat-form-field> 
 
             </div>
             <div class="row">
                <dx-data-grid class="devgrid39"
            [dataSource]="teklifhazirliklist"
            [showBorders]="true"
            [showRowLines]="true"
            [remoteOperations]="true"
            [showColumnLines]="false"
            [showRowLines]="true" 
            [rowAlternationEnabled]="true"
            [focusedRowEnabled]="true"
            [columnAutoWidth]="true"
            [allowColumnResizing]="true"
            keyExpr="StokKodu" 
            columnResizingMode = "widget" 
            [allowColumnReordering]="true"  
            > 
            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
            <dxo-paging [enabled]="false"></dxo-paging>
            <dxo-load-panel [enabled]="true"></dxo-load-panel> 
            <dxo-selection mode="single"></dxo-selection>  
            <dxo-paging [pageSize]="30"> </dxo-paging>
            <dxo-pager
                [visible]="true" 
                displayMode="'compact'"
                [showPageSizeSelector]="false"
                [showInfo]="true"
                [showNavigationButtons]="true">
            </dxo-pager> 
            
            <dxo-editing 
                mode="cell"
                [allowUpdating]="true" >
            </dxo-editing>
             
            <dxi-column dataField="StokKodu" caption="Stok Kodu" [allowEditing]="false" [style.width.%]="10"></dxi-column>  
            <dxi-column dataField="StokAdi" caption="Stok Adı" [allowEditing]="false" [style.width.%]="10"></dxi-column>  

            <dxi-column dataField="Miktar" caption="Talep Miktar" [allowEditing]="false" [style.width.%]="10" alignment="center"></dxi-column>  
            <dxi-column dataField="TeklifMiktar" caption="Teklif Miktar" [allowEditing]="true" [style.width.%]="10" alignment="center"></dxi-column>  
            
            <dxi-column dataField="Birim" caption="Birim" [allowEditing]="false" [style.width.%]="10" alignment="center"></dxi-column>  
            <dxi-column dataField="DepoAdi" caption="Depo" [allowEditing]="false" [style.width.%]="10"></dxi-column>  
            <dxi-column dataField="Aciklama" caption="Talep Açıklama" [allowEditing]="false" [style.width.%]="10"></dxi-column>  
            <dxi-column dataField="TeklifAciklama" caption="Teklif Açıklama" [allowEditing]="true" [style.width.%]="10"></dxi-column>  
            <dxi-column dataField="SapTalepNo" caption="Sap Talep No" [allowEditing]="false" [style.width.%]="10" alignment="center"></dxi-column>  
                        
            </dx-data-grid>  
                </div>
    </div>
    <div class="modal-footer"> 
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Kapat</button>
      <button type="button" class="btn btn-success" (click)="teklifHazirla()">Teklif Hazirla</button>
    </div>
  </ng-template>


  <ng-template #carihesapsecmod let-modal>
    <div class="modal-header">
      <h4 class="modal-title" >Firma Seç</h4> 
    </div>
    <div class="modal-body"> 
        <div class="row">
            <div class="input-group">
              <input type="text" class="form-control" autocomplete="off" placeholder="Aramak İstediğiniz Hesabı Kısaca Yazın..." [(ngModel)]="kalemkeyword" (keyup)="kalemAra($event)">
              <span class="input-group-btn">
                <button class="btn btn-danger btn-mini" title="Arama Temizle" (click)="aramaTemizle()">
                  <span class="fas fa-window-close"></span>
                </button>
            </span>
          </div>
          </div>
          <div style="clear:both"></div>
          <hr/>
          <dx-data-grid  #gridEvHesapSecim class="devgrid39"
          [dataSource]="firmalist"
          [showBorders]="true"
          [showRowLines]="true" 
          [showColumnLines]="false"
          [showRowLines]="true" 
          [rowAlternationEnabled]="true"
          [focusedRowEnabled]="true"
          [columnAutoWidth]="true"
          [allowColumnResizing]="true"
          keyExpr="FirmaKodu" 
          columnResizingMode = "widget" 
          [allowColumnReordering]="true"  
          (onSelectionChanged)="onFirmaChg($event)"
          (onRowDblClick)="firmaSecimYap()"
          > 
          <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
          <dxo-filter-row [visible]="false"></dxo-filter-row>
          <dxo-header-filter [visible]="false"></dxo-header-filter>
          <dxo-paging [enabled]="false"></dxo-paging>
                    <dxo-load-panel [enabled]="true"></dxo-load-panel> 
          <dxo-header-filter [allowSearch]="false"></dxo-header-filter>
          <dxo-selection mode="single"></dxo-selection>   
                
          <dxi-column dataField="FirmaKodu" caption="Müşteri Kodu" [width]="120"></dxi-column>
          <dxi-column dataField="FirmaAdi" caption="Müşteri Adı" [width]="350"></dxi-column>
 
          <dxi-column dataField="CariTip" caption="Tip" cellTemplate="cellCardType" [width]="10+'%'" alignment="center"></dxi-column>
          <div *dxTemplate="let cc of 'cellCardType'">
              <div>{{cc.value=="S"?'Satıcı':cc.value=="C"? 'Müşteri':'Diğer'}}</div>
          </div> 
          <dxi-column dataField="ParaBirim" caption="Para Birim" [width]="100"></dxi-column>
          <dxi-column dataField="Tel1" caption="Telefon" [width]="125"></dxi-column>
          <dxi-column dataField="VergiN" caption="Vergi/Tckn" [width]="150"></dxi-column> 
          <dxi-column dataField="Email" caption="Email" [width]="150"></dxi-column> 
          
          </dx-data-grid>  
    </div>
    <div class="modal-footer">
      <button type="button" id="tklmodkapatid" class="btn btn-danger" (click)="modal.dismiss('Cross click')"  #closeBtn>Vazgeç</button>
      <button type="button" class="btn btn-success" (click)="firmaSecimYap()">Seçim Yap</button>
    </div>
  </ng-template>   

  <ng-template #belgeyukle let-modal>
    <div class="modal-header">
      <h4 class="modal-title" >Belgeler</h4> 
      <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <app-belge-goruntule [semkey]="this.secilikalem.SatirGuid" [kayitid]="this.secilikalem.Id" [ekranid]="1" [secilidata]="this.secilikalem" [defbelgetipid]="1"></app-belge-goruntule>  
  </ng-template>
  
  <ng-template #belgetarihcemod let-modal>
    <div class="modal-header">
      <h4 class="modal-title" >Tarihçe</h4> 
      <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <app-talep-tarihce [SatirGuid]="this.secilikalem.SatirGuid"></app-talep-tarihce>  
  </ng-template>

  <ng-template #talepiptalmodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" >Talep İptal Etme</h4> 
    </div>
    <div class="modal-body">  
        <div style="clear:both" style="margin-bottom:5px!important"></div> 
         
     <mat-form-field appearance="outline" [style.width.%]="100" >
        <mat-label>Açıklama</mat-label> 
        <textarea matInput placeholder="Açıklama" [(ngModel)]="Aciklama" rows="4" autocomplete="off" maxlength="254"></textarea>
    </mat-form-field>   
  
    </div>
    <div class="modal-footer">
      <button type="button" id="finodemekpt" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Kapat</button>
      <button type="button" class="btn btn-success" (click)="talepIptal()">Kaydet</button>
    </div>
  </ng-template>  