<div class="container-fluid">
    <div class="row no-gutter">      
        
        <div class="col-md-12 bg-light">
            <div class="login d-flex align-items-center">  
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-xl-5 col-md-8 col-sm-12 col-xs-12 mx-auto" style="text-align:center;">
                            <div  style="display: inline-table;">
                                <a style="font-size: 39px;font-weight:bold;color: #485461;display: flex;margin-bottom: 6px;">Dts Anlık</a>
                            </div>
                            <br/>   
                            <div class="input-group mb-3">                               
                                <div *ngIf="dogrulandi" class="input-group-prepend" style="cursor: pointer;">
                                    <span (click)="reLog()" class="input-group-text" style="font-weight: bold;color: rebeccapurple;" title="Farklı Tckn İle Giriş Yap" aria-placeholder="Farklı Tckn İle Giriş Yap">X</span>
                                </div>
                                <input #logtckn (keydown.enter)="GetQCode()" [readonly] = "dogrulandi" [(ngModel)]="user.Tckn" class="form-control form-control-lg" type="text" placeholder="Tc Kimlik No" required maxlength="11" minlength="11">
                                
                            </div>
                            <div class="form-group mb-3" *ngIf="dogrulandi">
                                <input #logkod (keydown.enter)="DtsLogin()" [(ngModel)]="user.DogulamaKod" class="form-control form-control-lg" type="text" placeholder="Doğrulama Kodu" minlength="6" maxlength="6">
                            </div>                          

                            <button *ngIf="!dogrulandi" (click)="GetQCode()" class="btn btn-primary btn-lg btn-block text-uppercase btnloginstyle">
                                Giriş Kodu Al
                                <i style="margin-left: 6px;" class="fa fa-spinner fa-spin"  *ngIf="isWaiting"></i>
                            </button> 
                            
                            <button *ngIf="dogrulandi" (click)="DtsLogin()" class="btn btn-primary btn-lg btn-block text-uppercase btnloginstyle">
                                Onay Kodunu Doğrula
                                <i style="margin-left: 6px;" class="fa fa-spinner fa-spin"  *ngIf="isWaiting"></i>
                            </button> 
                        </div>
                    </div>
                </div> 

            </div>
        </div>  
 


    </div>
</div>

