<mat-drawer-container class="mat-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="modal-header" style="text-align: center;">
             <h5 class="modal-title" id="myModalLabel2">Filtre</h5>
        </div>
        <div class="body"> 
             <div style="clear:both;margin-bottom: 15px!important"></div>  
   
             <mat-form-field appearance="outline" [style.width.%]="100">
                <mat-label>Başlangıç</mat-label> 
                <input matInput [matDatepicker]="dp" placeholder="Başlangıç Tarih"  [(ngModel)]="filter.Baslangic" (ngModelChange)="BasTarihChg($event)">
                 <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" [style.width.%]="100">
                <mat-label>Bitiş</mat-label> 
                <input matInput [matDatepicker]="dp1" placeholder="Bitiş Tarih"  [(ngModel)]="filter.Bitis" (ngModelChange)="BitTarihChg($event)">
                 <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                <mat-datepicker #dp1></mat-datepicker>
              </mat-form-field>    
              
            <div style="clear:both;margin-bottom: 5px!important"></div> 
        </div>
        <div class="modal-footer">
            <input type="button" class="btn btn-default" (click)="drawer.toggle()" value="Kapat" />
            <input type="button" class="btn btn-info" (click)="GetOzelSiparisList()" value="Listele" />
        </div>
    </mat-drawer>
   
    <mat-drawer-content> 

<div class="content">
    <nav class="menu-navigation-icons">
        <a href="#" (click)="drawer.toggle()" class="menu-silver" ><i class="fas fa-filter"></i><span>Filtre</span></a> 
        <a href="#" class="menu-silver" (click)="GetOzelSiparisList()"><i class="fas fa-sync-alt"></i><span>Yenile</span></a>
        <a href="#" *ngIf="yetki.Ekle" class="menu-blue" (click)="yeniEkle()"><i class="fas fa-plus-circle"></i><span>Yeni Ekle</span></a>
        <a *ngIf="this.silgoster && yetki.Sil" href="#" class="menu-red" (click)="kayitsil()"><i class="fas fa-minus-circle"></i><span>Sil</span></a>
        
        <a href="#" (click)="this.gridOzelSiparis.instance.showColumnChooser()" style="float: right!important;" class="menu-blue" ><i class="fas fa-filter"></i><span>Sütun Seç</span></a> 
        <a href="#" (click)="this.gridOzelSiparis.instance.exportToExcel(false)" style="float: right!important;" class="menu-green" ><i class="fas fa-file-excel"></i><span>Excel</span></a> 

    </nav>
    <div style="clear:both"></div>
    
    <dx-data-grid class="devgrid74"  #gridOzelSiparis
    [dataSource]="taleplist"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true" 
    [rowAlternationEnabled]="true"
    [focusedRowEnabled]="true"
    [columnAutoWidth]="true"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    keyExpr="Id" 
    columnResizingMode = "widget" 
    (onCellDblClick)="cariDblClick($event)" 
    (onSelectionChanged)="silgosterChanged($event)" 
    > 
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-header-filter [allowSearch]="true"></dxo-header-filter> 
    <dxo-column-chooser [enabled]="false" mode="select"></dxo-column-chooser>
    <dxo-scrolling 
    mode="virtual"
    showScrollbar="'always'"
    useNative="false"
    scrollByThumb="true" >
  </dxo-scrolling> 
    <dxo-paging [pageSize]="30"> </dxo-paging>
    <dxo-pager
        [visible]="true" 
        displayMode="'compact'"
        [showPageSizeSelector]="false"
        [showInfo]="true"
        [showNavigationButtons]="true">
    </dxo-pager> 
    <dxo-selection
    [selectAllMode]="allMode"
    [showCheckBoxesMode]="checkBoxesMode"
    mode="multiple"
    ></dxo-selection>
    <dxo-state-storing 
      [enabled]="true" 
        type="localStorage" 
        storageKey="gridOzelSiparis">
    </dxo-state-storing>  
    <dxo-filter-panel [visible]="true"></dxo-filter-panel>

    
    <dxi-column dataField="Id" caption="Id" cellTemplate="cellTemplate" [style.width.%]="4" alignment="center"></dxi-column>
    <div *dxTemplate="let cell of 'cellTemplate'">
        <div class="dxgrididfield" (dblclick)="talepDetay(cell.data)">{{cell.text}}</div>
    </div>

    <dxi-column [style.width.%]="10" caption="Tarih" dataField="Tarih" dataType="date" format="dd.MM.yyyy" alignment="center"></dxi-column> 
    <dxi-column [style.width.%]="10" caption="Teslimat Tarih" dataField="TeslimTarih" dataType="date" format="dd.MM.yyyy" alignment="center"></dxi-column> 
    <dxi-column [style.width.%]="10" caption="Teslimat Saat" dataField="TeslimSaati" alignment="center"></dxi-column> 
 
    <dxi-column dataField="Durum" caption="Durum" cellTemplate="cellDurum" [style.width.%]="10" alignment="center" ></dxi-column>
    <div *dxTemplate="let cell of 'cellDurum'"> 
        <span *ngIf="cell.data.DurumId===0" class="badge pill-medium bg-secondary">Yeni Talep</span>
        <span *ngIf="cell.data.DurumId===1" class="badge pill-medium bg-info">Sipariş Oluşturulmadı</span>    
        <span *ngIf="cell.data.DurumId===2" class="badge pill-medium bg-success">Sipariş Oluşturuldu</span>    
        <span *ngIf="cell.data.DurumId===3" class="badge pill-medium bg-success">Tamamlandı</span>    
        <span *ngIf="cell.data.DurumId===4" class="badge pill-medium bg-danger">Reddedildi</span>    
        <span *ngIf="cell.data.DurumId===5" class="badge pill-medium bg-warning">İptal</span>    
    </div> 

    <dxi-column caption="Müşteri Adı" dataField="MusteriAdi" [allowSearch]="true" [width]="200"></dxi-column>    
    <dxi-column caption="Açıklama" dataField="Aciklama" [allowSearch]="true" [width]="200"></dxi-column>
    <dxi-column caption="Pasta Üstü Yazı" dataField="PastaUstuYazi" [allowSearch]="true" [width]="200"></dxi-column>
    <dxi-column caption="Adres" dataField="Adres" [allowSearch]="true" [width]="200"></dxi-column>
    <dxi-column [style.width.%]="10" caption="Şehir" dataField="Sehir" [allowSearch]="true" ></dxi-column>
    <dxi-column [style.width.%]="10" caption="İlçe" dataField="Ilce" [allowSearch]="true" ></dxi-column>
    <dxi-column [style.width.%]="10" caption="Teslim Şehir" dataField="TeslimSehir" [allowSearch]="true" ></dxi-column>
    <dxi-column [style.width.%]="10" caption="Teslim İLçe" dataField="TeslimIlce" [allowSearch]="true" ></dxi-column>
    <dxi-column [style.width.%]="10" caption="Sipariş Veren" dataField="SiparisVerenKisi" [allowSearch]="true" ></dxi-column>
    <dxi-column [style.width.%]="10" caption="Sipariş Veren Cep" dataField="Gsm" [allowSearch]="true" ></dxi-column>
    <dxi-column [style.width.%]="10" caption="Teslimat Kişi" dataField="TeslimatKisi" [allowSearch]="true" ></dxi-column>
    <dxi-column [style.width.%]="10" caption="Teslimat Kişi Cep" dataField="TeslimatGsm" [allowSearch]="true" ></dxi-column>
    <dxi-column [style.width.%]="10" caption="Şirket" dataField="ErpSirket" alignment="center" [visible]="false"></dxi-column>
    <dxi-column [style.width.%]="10" caption="Fatura Kesilece kmi" dataField="FaturaKesilecekmi" alignment="center" [visible]="false"></dxi-column>

    <dxi-column [style.width.%]="10" caption="Ekleyen" dataField="Ekleyen" ></dxi-column> 
    <dxi-column [style.width.%]="10" caption="Kayıt" dataField="EkTarih" dataType="date" format="dd.MM.yyyy HH:mm"></dxi-column> 
    <dxi-column [style.width.%]="10" caption="Guncelleyen" dataField="Guncelleyen" ></dxi-column> 
    <dxi-column [style.width.%]="10" caption="Güncelleme" dataField="GuncelTarih" dataType="date" format="dd.MM.yyyy HH:mm"></dxi-column> 

    </dx-data-grid>  
</div>

</mat-drawer-content> 
</mat-drawer-container> 