<block-ui>
  <!DOCTYPE html>
  <html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta characters="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />  
    <meta http-equiv="Pragma" content="no-cache" />  
    <meta http-equiv="Expires" content="0" />   
    <title>Dts Connect</title> 
     
  </head>
  <body class="hold-transition">   
    <div class="wrapper" *ngIf="userLogin"> 
      <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="background-image: linear-gradient(354deg, #485461 0%, #28313b 74%);">
        <div class="dts-head">
          <label style="color: whitesmoke!important;">Dts Anlık</label>
        </div> 
       
        <ul class="navbar-nav ml-auto">  
          <li class="nav-item dropdown user-menu">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <img src="../../../assets/user-logo.jpg" class="user-image img-circle elevation-2" alt="User Image">

              <span class="d-none d-md-inline" style="display:block ;text-align: center;color: whitesmoke!important;">
                {{adsoyad}}
              </span>
              
            </a>
            <ul class="dropdown-menu dropdown-menu-right logindrop">
               
              <li class="user-footer"> 
                <a href="#" (click)="cikisyap()" class="btn btn-danger btn-block">Çıkış</a>
              </li>
            </ul>
          </li>
          
        </ul>
      </nav>
   




    <div class="content-wrapper" style="padding: 15px;">  
      <nav class="menu-navigation-icons">
        <a href="#"  class="menu-silver" (click)="filterMod(filtremodal)"><i class="fas fa-filter"></i><span>Filtre</span></a>
        <a href="#" class="menu-silver" (click)="DataLoad()" ><i class="fas fa-sync-alt"></i><span>Yenile</span></a>
    </nav>
    <div style="clear:both"></div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">Ekip İstatistikleri</div>
        <div class="panel-body">
          <dx-data-grid  #gridAracYakitData
        [dataSource]="anlikdata"
        [showBorders]="true"
        [showColumnLines]="false"
        [showRowLines]="true" 
        [rowAlternationEnabled]="true"
        [focusedRowEnabled]="true"
        [columnAutoWidth]="true"
        [allowColumnResizing]="true"
        keyExpr="AcenteID" 
        columnResizingMode = "widget" 
        [allowColumnReordering]="true" 
        > 
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-scrolling 
            mode="virtual"
            showScrollbar="'always'"
            useNative="false"
            scrollByThumb="true" >
          </dxo-scrolling>  
         
        <dxi-column [style.width.%]="10" caption="Acente" dataField="Acente" ></dxi-column>   
        
        <dxi-column [style.width.%]="10" format="#,##0" caption="Up" dataField="Up" alignment="center"></dxi-column> 
        <dxi-column [style.width.%]="10" format="#,##0" caption="Kişi" dataField="Kisi" alignment="center"></dxi-column> 
        <dxi-column [style.width.%]="10" format="#,##0" caption="Satış" dataField="Satis" alignment="center"></dxi-column> 
        <dxi-column [style.width.%]="10" format="#,##0.00 TL" caption="Volume" dataField="Volume" alignment="right"></dxi-column> 
        <dxi-column [style.width.%]="10" format="#,##0.00 TL" caption="Nakit" dataField="Nakit" alignment="right"></dxi-column> 
        <dxi-column [style.width.%]="10" format="#,##0.00 TL" caption="Kredi Kart" dataField="KrediKarti" alignment="right"></dxi-column> 
        <dxi-column [style.width.%]="10" format="#,##0.00 TL" caption="Banka" dataField="Banka" alignment="right"></dxi-column> 
        <dxi-column [style.width.%]="10" format="#,##0.00 TL" caption="Toplam" dataField="Toplam" alignment="right"></dxi-column> 
        
 
        <dxi-column dataField="VolMonOran" caption="Vol.Money Oran" cellTemplate="cellVolMonOran" [style.width.%]="10" alignment="center"></dxi-column>
        <div *dxTemplate="let cell of 'cellVolMonOran'">  
          
          <div class="progress">
            <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="cell.value" aria-valuemin="0" aria-valuemax="100" [style.width]="cell.value+'%'">
              <span class="show">{{cell.value | number : '1.2-2'}}%</span>
            </div>
          </div>
          
        </div> 

        <dxi-column dataField="UpDealOran" caption="Up Deal Oran" cellTemplate="cellUpDealOran" [style.width.%]="10" alignment="center"></dxi-column>
        <div *dxTemplate="let cell of 'cellUpDealOran'"> 
          <div class="progress">
            <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="cell.value" aria-valuemin="0" aria-valuemax="100" [style.width]="cell.value+'%'">
              <span class="show">{{cell.value | number : '1.2-2'}}%</span>
            </div>
          </div>
        </div> 
         
        <dxo-summary> 
          <dxi-total-item
              column="Up"
              valueFormat="#,##0"  
              displayFormat="{0}"
              summaryType="sum">
          </dxi-total-item>  
          <dxi-total-item
              column="Kisi"
              valueFormat="#,##0"  
              displayFormat="{0}"
              summaryType="sum">
          </dxi-total-item>  
          <dxi-total-item
              column="Satis"
              valueFormat="#,##0"  
              displayFormat="{0}"
              summaryType="sum">
          </dxi-total-item>  
          <dxi-total-item
              column="Volume"
              valueFormat="#,##0.00 TL"  
              displayFormat="{0}"
              summaryType="sum">
          </dxi-total-item>  
          <dxi-total-item
              column="Nakit"
              valueFormat="#,##0.00 TL"  
              displayFormat="{0}"
              summaryType="sum">
          </dxi-total-item>  
          <dxi-total-item
              column="KrediKarti"
              valueFormat="#,##0.00 TL"  
              displayFormat="{0}"
              summaryType="sum">
          </dxi-total-item>  
          <dxi-total-item
              column="Banka"
              valueFormat="#,##0.00 TL"  
              displayFormat="{0}"
              summaryType="sum">
          </dxi-total-item>  
          <dxi-total-item
              column="Toplam"
              valueFormat="#,##0.00 TL"  
              displayFormat="{0}"
              summaryType="sum">
          </dxi-total-item>    

          </dxo-summary>
         
       </dx-data-grid> 
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Ekip İstatistikleri [Konaklama] </div>
        <div class="panel-body">
          <dx-data-grid  #gridAracYakitData
          [dataSource]="anlikdatakonaklama"
          [showBorders]="true"
          [showColumnLines]="false"
          [showRowLines]="true" 
          [rowAlternationEnabled]="true"
          [focusedRowEnabled]="true"
          [columnAutoWidth]="true"
          [allowColumnResizing]="true"
          keyExpr="AcenteID" 
          columnResizingMode = "widget" 
          [allowColumnReordering]="true" 
          > 
          <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
          <dxo-load-panel [enabled]="true"></dxo-load-panel>
          <dxo-selection mode="single"></dxo-selection>
          <dxo-scrolling 
              mode="virtual"
              showScrollbar="'always'"
              useNative="false"
              scrollByThumb="true" >
            </dxo-scrolling>  
           
          <dxi-column [style.width.%]="10" caption="Acente" dataField="Acente" ></dxi-column>   
          
          <dxi-column [style.width.%]="10" format="#,##0" caption="Up" dataField="Up" alignment="center"></dxi-column> 
          <dxi-column [style.width.%]="10" format="#,##0" caption="Kişi" dataField="Kisi" alignment="center"></dxi-column> 
          <dxi-column [style.width.%]="10" format="#,##0" caption="Satış" dataField="Satis" alignment="center"></dxi-column> 
          <dxi-column [style.width.%]="10" format="#,##0.00 TL" caption="Volume" dataField="Volume" alignment="right"></dxi-column> 
          <dxi-column [style.width.%]="10" format="#,##0.00 TL" caption="Nakit" dataField="Nakit" alignment="right"></dxi-column> 
          <dxi-column [style.width.%]="10" format="#,##0.00 TL" caption="Kredi Kart" dataField="KrediKarti" alignment="right"></dxi-column> 
          <dxi-column [style.width.%]="10" format="#,##0.00 TL" caption="Banka" dataField="Banka" alignment="right"></dxi-column> 
          <dxi-column [style.width.%]="10" format="#,##0.00 TL" caption="Toplam" dataField="Toplam" alignment="right"></dxi-column> 
            

          <dxi-column dataField="VolMonOran" caption="Vol.Money Oran" cellTemplate="cellVolMonOran" [style.width.%]="10" alignment="center"></dxi-column>
        <div *dxTemplate="let cell of 'cellVolMonOran'"> 
          <div class="progress">
            <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="cell.value" aria-valuemin="0" aria-valuemax="100" [style.width]="cell.value+'%'">
              <span class="show">{{cell.value | number : '1.2-2'}}%</span>
            </div>
          </div>
        </div> 

        <dxi-column dataField="UpDealOran" caption="Up Deal Oran" cellTemplate="cellUpDealOran" [style.width.%]="10" alignment="center"></dxi-column>
        <div *dxTemplate="let cell of 'cellUpDealOran'"> 
          <div class="progress">
            <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="cell.value" aria-valuemin="0" aria-valuemax="100" [style.width]="cell.value+'%'">
              <span class="show">{{cell.value | number : '1.2-2'}}%</span>
            </div>
          </div>
        </div> 

          <dxo-summary> 
            <dxi-total-item
                column="Up"
                valueFormat="#,##0"  
                displayFormat="{0}"
                summaryType="sum">
            </dxi-total-item>  
            <dxi-total-item
                column="Kisi"
                valueFormat="#,##0"  
                displayFormat="{0}"
                summaryType="sum">
            </dxi-total-item>  
            <dxi-total-item
                column="Satis"
                valueFormat="#,##0"  
                displayFormat="{0}"
                summaryType="sum">
            </dxi-total-item>  
            <dxi-total-item
              column="Volume"
              valueFormat="#,##0.00 TL"  
              displayFormat="{0}"
              summaryType="sum">
          </dxi-total-item>  
          <dxi-total-item
              column="Nakit"
              valueFormat="#,##0.00 TL"  
              displayFormat="{0}"
              summaryType="sum">
          </dxi-total-item>  
          <dxi-total-item
              column="KrediKarti"
              valueFormat="#,##0.00 TL"  
              displayFormat="{0}"
              summaryType="sum">
          </dxi-total-item>  
          <dxi-total-item
              column="Banka"
              valueFormat="#,##0.00 TL"  
              displayFormat="{0}"
              summaryType="sum">
          </dxi-total-item>  
          <dxi-total-item
              column="Toplam"
              valueFormat="#,##0.00 TL"  
              displayFormat="{0}"
              summaryType="sum">
          </dxi-total-item>  
  
            </dxo-summary>
           
         </dx-data-grid> 

        </div>
      </div>
 

      <div class="panel panel-default"> 
        <div class="panel-body">
          <div class="row" style="padding: 5px;">
            <div class="col-xl-3 col-lg-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Up Başı Volume</h5>
                      <div style="clear: both;"></div>
                      <span class="h3 font-weight-bold mb-0">{{GetData(4,"OZUPBASIVOL") | number : '1.2-2'}}  TL</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"> </span>
                    <span class="text-nowrap">1 Up Başına Düşen Volume</span>
                  </p>
                </div>
              </div>
            </div>
              <div class="col-xl-3 col-lg-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Up Başı Money</h5>
                      <div style="clear: both;"></div>
                      <span class="h3 font-weight-bold mb-0">{{GetData(4,"OZUPBASIMON") | number : '1.2-2'}}  TL</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-danger mr-2">  </span>
                    <span class="text-nowrap">1 Up Başına Düşen Money</span>
                  </p>
                </div>
              </div>
            </div>
              <div class="col-xl-3 col-lg-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Deal Başı Volume</h5>
                      <div style="clear: both;"></div>
                      <span class="h3 font-weight-bold mb-0">{{GetData(4,"OZDEALBASVOL") | number : '1.2-2'}}  TL</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-warning mr-2">
                      <!-- <i class="fas fa-arrow-down"></i>  -->
                    </span>
                    <span class="text-nowrap">1 Deal Başına Düşen Volume</span>
                  </p>
                </div>
              </div>
            </div>
              <div class="col-xl-3 col-lg-3">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Deal Başı Money</h5>
                        <div style="clear: both;"></div>
                        <span class="h3 font-weight-bold mb-0">{{GetData(4,"OZDEALBASMON") | number : '1.2-2'}}  TL</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                          <i class="fas fa-chart-bar"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-success mr-2">  </span>
                      <span class="text-nowrap">1 Deal Başına Düşen Money</span>
                    </p>
                  </div>
                </div>
            </div>  
          </div> 

        </div>
      </div>

   
      <div class="panel panel-default"> 
        <div class="panel-body">
          <div class="row" style="padding: 5px;">
            <div class="col-xl-4 col-lg-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">Line Ekipleri</div>
                    <div class="panel-body">
                    
                      <div class="list-group" style="overflow-y: auto;">
                        <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1" style="font-size:14px!important;">Toplam Up Sayısı :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(0,"UPSAYI")}}  Up</span>
                            </div> 
                          </a>
                          <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1" style="font-size:14px!important;">Toplam Deal Sayısı :</h5> 
                              <span class="badge pill-medium" style="height: 18px;">{{GetData(0,"DEALSAYI")}} Deal</span>
                            </div> 
                          </a>
                          <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1" style="font-size:14px!important;">Toplam Volume :</h5> 
                              <span class="badge pill-medium" style="height: 18px;">{{GetData(0,"TOPVOLUME") | number : '1.2-2'}} TL</span>
                            </div> 
                          </a>
                          <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1" style="font-size:14px!important;">Toplam Nakit :</h5> 
                              <span class="badge pill-medium" style="height: 18px;">{{GetData(0,"TOPNAKIT") | number : '1.2-2'}} TL</span>
                            </div> 
                          </a>
                          <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1" style="font-size:14px!important;">Toplam CC :</h5> 
                              <span class="badge pill-medium" style="height: 18px;">{{GetData(0,"TOPCC") | number : '1.2-2'}} TL</span>
                            </div> 
                          </a>
                          <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1" style="font-size:14px!important;">Toplam Banka :</h5> 
                              <span class="badge pill-medium" style="height: 18px;">{{GetData(0,"TOPBANKA") | number : '1.2-2'}} TL</span>
                            </div> 
                          </a>
                          <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1" style="font-size:14px!important;">Toplam Peşinat :</h5> 
                              <span class="badge pill-medium" style="height: 18px;">{{GetData(0,"TOPPESINAT") | number : '1.2-2'}} TL</span>
                            </div> 
                          </a>
                      </div> 

                      <hr>

                      <div class="list-group" style="overflow-y: auto;">
                        <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1" style="font-size:14px!important;">Up Başı Volume :</h5> 
                              <span class="badge pill-medium" style="height: 18px;">{{GetData(0,"UPBASIVOL") | number : '1.2-2'}}  TL</span>
                            </div> 
                          </a>
                          <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1" style="font-size:14px!important;">Up Başı Money In :</h5> 
                              <span class="badge pill-medium" style="height: 18px;">{{GetData(0,"UPBASIMONEYIN") | number : '1.2-2'}}  TL</span>
                            </div> 
                          </a>
                          <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1" style="font-size:14px!important;">Deal Başı Volume :</h5> 
                              <span class="badge pill-medium" style="height: 18px;">{{GetData(0,"DEALBASIVOL") | number : '1.2-2'}} TL</span>
                            </div> 
                          </a>
                          <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1" style="font-size:14px!important;">Deal Başı Money In :</h5> 
                              <span class="badge pill-medium" style="height: 18px;">{{GetData(0,"DEALBASIMONEYIN") | number : '1.2-2'}} TL</span>
                            </div> 
                          </a>
                      </div> 


                      <hr>

                      <div class="list-group" style="overflow-y: auto;">
                        <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1" style="font-size:14px!important;color: red;">Up-Deal Kapaması :	</h5> 
                              <span class="badge pill-medium" style="height: 18px;color: red;">{{GetData(0,"DEALKAPAMA")*100 | number : '1.2-2'}} %</span>
                            </div> 
                          </a>
                          <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1" style="font-size:14px!important;color: red;">Volume-Money Kapaması :	</h5> 
                              <span class="badge pill-medium" style="height: 18px;color: red;">{{GetData(0,"VOLMONKAPAMA")*100 | number : '1.2-2'}} %</span>
                            </div> 
                          </a> 
                      </div> 


                    </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4">
              <div class="panel panel-default">
                <div class="panel-heading">İnhouse Ekipleri</div>
                <div class="panel-body">
                  
                  <div class="list-group" style="overflow-y: auto;">
                    <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Toplam Up Sayısı :</h5> 
                      <span class="badge pill-medium" style="height: 18px;">{{GetData(1,"UPSAYI")}}  Up</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Toplam Deal Sayısı :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(1,"DEALSAYI")}} Deal</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Toplam Volume :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(1,"TOPVOLUME") | number : '1.2-2'}} TL</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Toplam Nakit :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(1,"TOPNAKIT") | number : '1.2-2'}} TL</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Toplam CC :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(1,"TOPCC") | number : '1.2-2'}} TL</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Toplam Banka :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(1,"TOPBANKA") | number : '1.2-2'}} TL</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Toplam Peşinat :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(1,"TOPPESINAT") | number : '1.2-2'}} TL</span>
                        </div> 
                      </a>
                  </div> 

                  <hr>

                  <div class="list-group" style="overflow-y: auto;">
                    <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Up Başı Volume :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(1,"UPBASIVOL") | number : '1.2-2'}}  TL</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Up Başı Money In :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(1,"UPBASIMONEYIN") | number : '1.2-2'}}  TL</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Deal Başı Volume :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(1,"DEALBASIVOL") | number : '1.2-2'}} TL</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Deal Başı Money In :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(1,"DEALBASIMONEYIN") | number : '1.2-2'}} TL</span>
                        </div> 
                      </a>
                  </div> 


                  <hr>

                  <div class="list-group" style="overflow-y: auto;">
                    <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;color: red;">Up-Deal Kapaması :	</h5> 
                          <span class="badge pill-medium" style="height: 18px;color: red;">{{GetData(1,"DEALKAPAMA")*100 | number : '1.2-2'}} %</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;color: red;">Volume-Money Kapaması :	</h5> 
                          <span class="badge pill-medium" style="height: 18px;color: red;">{{GetData(1,"VOLMONKAPAMA")*100 | number : '1.2-2'}} %</span>
                        </div> 
                      </a> 
                  </div> 


                </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4">
              <div class="panel panel-default">
                <div class="panel-heading">Tapu Ekipleri</div>
                <div class="panel-body">
                  <div class="list-group" style="overflow-y: auto;">
                    <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Toplam Up Sayısı :</h5> 
                      <span class="badge pill-medium" style="height: 18px;">{{GetData(2,"UPSAYI")}}  Up</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Toplam Deal Sayısı :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(2,"DEALSAYI")}} Deal</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Toplam Volume :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(2,"TOPVOLUME") | number : '1.2-2'}} TL</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Toplam Nakit :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(2,"TOPNAKIT") | number : '1.2-2'}} TL</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Toplam CC :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(2,"TOPCC") | number : '1.2-2'}} TL</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Toplam Banka :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(2,"TOPBANKA") | number : '1.2-2'}} TL</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Toplam Peşinat :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(2,"TOPPESINAT") | number : '1.2-2'}} TL</span>
                        </div> 
                      </a>
                  </div> 

                  <hr>

                  <div class="list-group" style="overflow-y: auto;">
                    <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Up Başı Volume :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(2,"UPBASIVOL") | number : '1.2-2'}}  TL</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Up Başı Money In :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(2,"UPBASIMONEYIN") | number : '1.2-2'}}  TL</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Deal Başı Volume :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(2,"DEALBASIVOL") | number : '1.2-2'}} TL</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;">Deal Başı Money In :</h5> 
                          <span class="badge pill-medium" style="height: 18px;">{{GetData(2,"DEALBASIMONEYIN") | number : '1.2-2'}} TL</span>
                        </div> 
                      </a>
                  </div> 


                  <hr>

                  <div class="list-group" style="overflow-y: auto;">
                    <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;color: red;">Up-Deal Kapaması :	</h5> 
                          <span class="badge pill-medium" style="height: 18px;color: red;">{{GetData(2,"DEALKAPAMA")*100 | number : '1.2-2'}} %</span>
                        </div> 
                      </a>
                      <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start listmar">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" style="font-size:14px!important;color: red;">Volume-Money Kapaması :	</h5> 
                          <span class="badge pill-medium" style="height: 18px;color: red;">{{GetData(2,"VOLMONKAPAMA")*100 | number : '1.2-2'}} %</span>
                        </div> 
                      </a> 
                  </div> 
                   
                </div>
          </div>
          </div>
          </div> 

        </div>
      </div>


    </div>
       
    </div>   
  
  </div>  

  <div *ngIf="!userLogin">
    <app-login></app-login>
  </div>
  
<button type="button" hidden class="btn btn-sub btn-danger has-tooltip" id="maindataload" (click)="DataLoad()"> </button> 

  </body> 
  </html>
</block-ui> 


<ng-template #filtremodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" >Filtre</h4> 
  </div>
  <div class="modal-body">

    <mat-form-field appearance="outline" [style.width.%]="100">
      <mat-label>Başlangıç</mat-label> 
      <input matInput [matDatepicker]="dp" placeholder="Başlangıç Tarih"  [(ngModel)]="filter.Baslangic" (ngModelChange)="BasTarihChg($event)">
       <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>

  <mat-form-field appearance="outline" [style.width.%]="100">
    <mat-label>Bitiş</mat-label> 
    <input matInput [matDatepicker]="dp1" placeholder="Bitiş Tarih"  [(ngModel)]="filter.Bitis" (ngModelChange)="BitTarihChg($event)">
     <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
    <mat-datepicker #dp1></mat-datepicker>
  </mat-form-field> 
  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Vazgeç</button>
    <button type="button" class="btn btn-success" (click)="DataLoad()">Data Yükle</button>
  </div>
</ng-template>