<block-ui>
  <!DOCTYPE html>
  <html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta characters="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />  
    <meta http-equiv="Pragma" content="no-cache" />  
    <meta http-equiv="Expires" content="0" />   
    <title>CKE-QA</title> 
     
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">   
    <div class="wrapper" *ngIf="userLogin"> 
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <div class="dts-head">
          <label>CKE-QA</label>
          <div style="margin-top: -16px;">
            <i class="nav-icon fas fa-circle text-success" style="margin-top: 5px;margin-right: 5px;font-size: 11px!important;"></i>
            <span class="text" style="font-size: 14px!important;">{{loguser.AktifSirket}} Şirketinde Çalışıyorsunuz </span>  
          </div>
        </div>        
        <ul class="navbar-nav ml-auto">  
          <div class="nav-item dropdown search-dropdown">
          </div>
          <li class="nav-item dropdown user-menu">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <img src="../../../assets/user-logo.jpg" class="user-image img-circle elevation-2" alt="User Image">

              <span class="d-none d-md-inline" style="display:block ;text-align: center;">
                {{loguser.AdSoyad}}
              </span>              
            </a>
            <ul class="dropdown-menu dropdown-menu-right logindrop">               
              <li class="user-footer"> 
                <a href="#" (click)="subeDegistirMod(subemodal)" class="btn btn-info btn-block">Şirket Değiştir</a>
                <a href="#" (click)="sifreDegistirModal(kulsifredegistirmod)" class="btn btn-info btn-block">Şifre Değiştir</a>
                <a href="#" (click)="cikisyap()" class="btn btn-danger btn-block">Çıkış</a>
              </li>
            </ul>
          </li>          
        </ul>
      </nav>
   
    <aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4" style="overflow-y: auto!important;" *ngIf="userLogin">         
        <div class="mainsem-logo">
          <img class="logocss" src="../assets/logo/CKE-LOGO.jpg" width="70" height="50">
         </div>
       
        <div class="clearfix" style="margin-bottom: 15px;"></div>
      
         <div class="mainsem" (click)="menugoster('1')" *ngIf="mainMenuShow('Sistem')">
          <div style="display: block;"><i class="fas fa-cogs fafont"></i></div>
          <span>Yönetim</span>
        </div>
        <!-- <div class="mainsem" (click)="menugoster('2')"  *ngIf="mainMenuShow('Stok Yönetim')">
          <div style="display: block;"><i class="fas fa-city fafont"></i></div>
          <span>Stok</span>
        </div>
        <div class="mainsem" (click)="menugoster('3')"  *ngIf="mainMenuShow('Sipariş Yönetim')">
          <div style="display: block;"><i class="fas fa-city fafont"></i></div>
          <span>Satın Alma</span>
        </div>   
        <div class="mainsem" (click)="menugoster('5')" *ngIf="mainMenuShow('Süreç')">
          <div style="display: block;"><i class="fas fa-clock fafont"></i></div>
          <span>Onay</span>
        </div>    
        
        <div class="mainsem" (click)="menugoster('4')" *ngIf="mainMenuShow('Rapor Yönetim')">
          <div style="display: block;"><i class="fas fa-chart-bar fafont"></i></div>
          <span>Rapor</span>
        </div> 
        <div class="mainsem" (click)="menugoster('6')" *ngIf="mainMenuShow('Sözleşme')">
          <div style="display: block;"><i class="fas fa-chart-bar fafont"></i></div>
          <span>Sözleşme</span>
        </div>  -->

        <div class="mainsem" (click)="menugoster('7')" *ngIf="mainMenuShow('Kalite Yonetim')">
          <div style="display: block;"><i class="fas fa-chart-bar fafont"></i></div>
          <span>Kalite</span>
        </div> 

        <!-- <div class="mainsem" style="height:80px !important;" (click)="addNewTab(1)" >
          <div style="display: block;"><i class="fas fa-exclamation-circle fafont"></i></div>
          <span>Sistem Destek</span>
        </div> -->
    </aside> 

    <aside class="main-sidebar-rigth" *ngIf="userLogin && secilimenu=='1'">
      <ul class="mainright-ul"> 
        <li [ngClass]="getCSSClasses(22)" (click)="addNewTab(22)" *ngIf="submainMenuShow('Sistem')">
          <a href="#"><i class="fas fa-cogs"></i> Sistem Parametreleri</a>
         </li>
        <li class="mainrightsem submenutop baslikmenu" *ngIf="submainMenuShow('Kullanıcı Yönetimi')">
            <a href="#" class="mastermenu" (click)="menuEx[0].Exapnd = !menuEx[0].Exapnd" [attr.aria-expanded]="!menuEx[0].Exapnd" aria-controls="navbarContent">
              <i class="fas fa-users"></i> Kullanıcı Yönetimi</a>
            <ul class="nav collapse submenusem" [ngbCollapse]="!menuEx[0].Exapnd">
              <li (click)="addNewTab(3)" [ngClass]="getCSSClassesSub(3)" *ngIf="childMenuShow('YT0007')"><a href="#">● Kullanıcılar</a></li> 
              <li (click)="addNewTab(4)" [ngClass]="getCSSClassesSub(4)" *ngIf="childMenuShow('YT0008')"><a href="#">● Grup Yetkileri</a></li>  
            </ul> 
        </li>  
        <li class="mainrightsem submenutop baslikmenu" *ngIf="submainMenuShow('Onay Süreçleri')">
          <a href="#" class="mastermenu" (click)="menuEx[37].Exapnd = !menuEx[37].Exapnd" [attr.aria-expanded]="!menuEx[37].Exapnd" aria-controls="navbarContent">
            <i class="fas fa-users"></i> Onay Süreçleri</a>
          <ul class="nav collapse submenusem" [ngbCollapse]="!menuEx[37].Exapnd"> 
            <li (click)="addNewTab(8)" [ngClass]="getCSSClassesSub(8)" *ngIf="childMenuShow('YT0014')"><a href="#">● Onay Kategori Tanım</a></li>  
            <li (click)="addNewTab(9)" [ngClass]="getCSSClassesSub(9)" *ngIf="childMenuShow('YT0015')"><a href="#">● Onay Kategori Detay Tanım</a></li>  
            <li (click)="addNewTab(10)" [ngClass]="getCSSClassesSub(10)" *ngIf="childMenuShow('YT0016')"><a href="#">● Onay Kural Tanım</a></li>  
            <li (click)="addNewTab(11)" [ngClass]="getCSSClassesSub(11)" *ngIf="childMenuShow('YT0017')"><a href="#">● Onay Süreç Tanım</a></li>  
          </ul> 
        </li> 
        <li class="mainrightsem submenutop baslikmenu" *ngIf="submainMenuShow('Tanımlar')">
          <a href="#" class="mastermenu" (click)="menuEx[43].Exapnd = !menuEx[43].Exapnd" [attr.aria-expanded]="!menuEx[43].Exapnd" aria-controls="navbarContent">
            <i class="fas fa-users"></i> Tanımlar</a>
          <ul class="nav collapse submenusem" [ngbCollapse]="!menuEx[43].Exapnd">
            <li (click)="addNewTab(17)" [ngClass]="getCSSClassesSub(17)" *ngIf="childMenuShow('YT0027')"><a href="#">● Fire Tip Tanım</a></li>  
            <li (click)="addNewTab(24)" [ngClass]="getCSSClassesSub(24)" *ngIf="childMenuShow('YT0037')"><a href="#">● Fire Tip Muhasebe Tanım</a></li>  
            <li (click)="addNewTab(5)" [ngClass]="getCSSClassesSub(5)" *ngIf="childMenuShow('YT0010')"><a href="#">● Departman Tanım</a></li> 
            <li (click)="addNewTab(6)" [ngClass]="getCSSClassesSub(6)" *ngIf="childMenuShow('YT0011')"><a href="#">● Pozisyon Tanım</a></li>  
          </ul> 
      </li>  
    </ul>
    </aside>    

    <aside class="main-sidebar-rigth" *ngIf="userLogin && secilimenu=='2'">
      <ul class="mainright-ul"> 
        <li [ngClass]="getCSSClasses(1)" (click)="addNewTab(1)" *ngIf="childMenuShow('YT0001')"><a href="#"><i class="fas fa-newspaper"></i> Stok Arama</a></li>  
        <li [ngClass]="getCSSClasses(16)" (click)="addNewTab(16)" *ngIf="childMenuShow('YT0026')"><a href="#"><i class="fas fa-newspaper"></i> Fire Yönetimi</a></li>  
        <li [ngClass]="getCSSClasses(18)" (click)="addNewTab(18)" *ngIf="childMenuShow('YT0028')"><a href="#"><i class="fas fa-newspaper"></i> Sayım Yönetimi</a></li>  
        </ul>
    </aside>

 


    <aside class="main-sidebar-rigth" *ngIf="userLogin && secilimenu=='7'">
      <ul class="mainright-ul"> 
 
        <li class="mainrightsem submenutop baslikmenu" *ngIf="submainMenuShow('Kullanıcı Yönetimi')">
          <a href="#" class="mastermenu" (click)="menuEx[0].Exapnd = !menuEx[0].Exapnd" [attr.aria-expanded]="!menuEx[0].Exapnd" aria-controls="navbarContent">
            <i class="fas fa-chart-bar fafont"></i> Kalite Tanımları</a>
          <ul class="nav collapse submenusem" [ngbCollapse]="!menuEx[0].Exapnd">
            <li (click)="addNewTab(26)" [ngClass]="getCSSClassesSub(26)" *ngIf="childMenuShow('YT0043')"><a href="#">● Ölçü birimleri</a></li> 
            <li (click)="addNewTab(27)" [ngClass]="getCSSClassesSub(27)" *ngIf="childMenuShow('YT0044')"><a href="#">● Araç - Ekipman Tanımları</a></li>  
            <li (click)="addNewTab(28)" [ngClass]="getCSSClassesSub(28)" *ngIf="childMenuShow('YT0045')"><a href="#">● Test Grupları</a></li>  
            <li (click)="addNewTab(29)" [ngClass]="getCSSClassesSub(29)" *ngIf="childMenuShow('YT0046')"><a href="#">● Test Tanımları</a></li>  
            <li (click)="addNewTab(30)" [ngClass]="getCSSClassesSub(30)" *ngIf="childMenuShow('YT0047')"><a href="#">● Araç - Test Eşleştirme</a></li>  
            <li (click)="addNewTab(31)" [ngClass]="getCSSClassesSub(31)" *ngIf="childMenuShow('YT0048')"><a href="#">● Örneklem Tanımları</a></li>  
            <li (click)="addNewTab(32)" [ngClass]="getCSSClassesSub(32)" *ngIf="childMenuShow('YT0049')"><a href="#">● Liste Tanımları</a></li>  
          </ul> 
      </li>  
      <li class="mainrightsem submenutop baslikmenu" *ngIf="submainMenuShow('Kullanıcı Yönetimi')">
        <a href="#" class="mastermenu1" (click)="menuEx[1].Exapnd = !menuEx[1].Exapnd" [attr.aria-expanded]="!menuEx[1].Exapnd" aria-controls="navbarContent">
          <i class="fas fa-chart-bar fafont"></i> Kalite Girişleri</a>
        <ul class="nav collapse submenusem" [ngbCollapse]="!menuEx[1].Exapnd">
          <li [ngClass]="getCSSClasses(33)" (click)="addNewTab(33)" *ngIf="childMenuShow('YT0050')"><a href="#">● Kalite İşEmirleri</a></li>   
        </ul> 
    </li>  
  

     
    </ul>
    </aside>    







    <aside class="main-sidebar-rigth" *ngIf="userLogin && secilimenu=='3'">
      <ul class="mainright-ul"> 
        <li [ngClass]="getCSSClasses(7)" (click)="addNewTab(7)" *ngIf="childMenuShow('YT0012')"><a href="#"><i class="fas fa-newspaper"></i> Özel Sipariş</a></li>  
        <li [ngClass]="getCSSClasses(12)" (click)="addNewTab(12)" *ngIf="childMenuShow('YT0018')"><a href="#"><i class="fas fa-newspaper"></i> Satın Alma Talep</a></li>  
        <li [ngClass]="getCSSClasses(13)" (click)="addNewTab(13)" *ngIf="childMenuShow('YT0019')"><a href="#"><i class="fas fa-newspaper"></i> Mağazalar Arası Transfer</a></li>  
        <li [ngClass]="getCSSClasses(20)" (click)="addNewTab(20)" *ngIf="childMenuShow('YT0031')"><a href="#"><i class="fas fa-newspaper"></i> Sipariş Teslim Listesi</a></li>  
        <li [ngClass]="getCSSClasses(19)" (click)="addNewTab(19)" *ngIf="childMenuShow('YT0030')"><a href="#"><i class="fas fa-newspaper"></i> Talep Kontrol Listesi</a></li>  

        </ul>
    </aside>
  
    <aside class="main-sidebar-rigth" *ngIf="userLogin && secilimenu=='4'">
      <ul class="mainright-ul"> 
        <li [ngClass]="getCSSClasses(10)" (click)="addNewTab(10)" *ngIf="childMenuShow('YT0013')"><a href="#"><i class="fas fa-newspaper"></i> Rapor Araçları</a></li> 
        <li [ngClass]="getCSSClasses(11)" (click)="addNewTab(11)" *ngIf="childMenuShow('YT0014')"><a href="#"><i class="fas fa-newspaper"></i> Raporlarım</a></li> 
        </ul>
    </aside>

    <aside class="main-sidebar-rigth" *ngIf="userLogin && secilimenu=='5'">
      <ul class="mainright-ul"> 
        <li [ngClass]="getCSSClasses(14)" (click)="addNewTab(14)" *ngIf="childMenuShow('YT0020')"><a href="#"><i class="fas fa-newspaper"></i> Bekleyen Onay</a></li>  
        <li [ngClass]="getCSSClasses(21)" (click)="addNewTab(21)" *ngIf="childMenuShow('YT0034')"><a href="#"><i class="fas fa-newspaper"></i> Depo Transfer Onay</a></li>  
        <li [ngClass]="getCSSClasses(15)" (click)="addNewTab(15)" *ngIf="childMenuShow('YT0021')"><a href="#"><i class="fas fa-newspaper"></i> Onay Geçmiş</a></li>  
        </ul>
    </aside>

    <aside class="main-sidebar-rigth" *ngIf="userLogin && secilimenu=='6'">
      <ul class="mainright-ul"> 
        <li [ngClass]="getCSSClasses(23)" (click)="addNewTab(23)" *ngIf="childMenuShow('YT0035')"><a href="#"><i class="fas fa-newspaper"></i> Sözleşme Listesi</a></li>  
        </ul>
    </aside>
    

    <div class="content-wrapper" >  
      <mat-tab-group animationDuration="0ms"
        class="main-tab-group"
        [selectedIndex]="selectedTab"  
        > 
        <mat-tab *ngFor="let tab of tabs; let tabIndex = index" [tabIndex]="tab.id">
          <ng-template mat-tab-label><span (click)="tabChanged(tab.tabid)">{{ tab.title }} &nbsp;&nbsp;</span>            
            <i class="far fa-times-circle tabicon" (click)="removeTab(tabIndex)"></i>
          </ng-template>
       
            <div class="maintabvh" style="background-color: #f4f6f9!important;"> 
              <app-tab-content [tab]="tab" ></app-tab-content>
            </div> 
         
        </mat-tab>
      </mat-tab-group>
  
    </div>  
    <aside class="control-sidebar control-sidebar-dark">      
    </aside> 
  
  </div>  

  <div *ngIf="!userLogin">
    <app-login></app-login>
  </div>


<ng-template #kulsifredegistirmod let-modal>
  <div class="modal-header">
    <h4 class="modal-title" >Şifre Değiştir</h4> 
  </div>
  <div class="modal-body"> 
      <div style="clear:both;margin-bottom:15px!important"></div> 

      <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Güncel Şifreniz</mat-label>
        <input matInput placeholder="Güncel Şifreniz" [(ngModel)]="GuncelSifre" type="password" >
    </mat-form-field>  

    <mat-form-field appearance="outline" [style.width.%]="100">
      <mat-label>Yeni Şifreniz</mat-label>
      <input matInput placeholder="Güncel Şifreniz" [(ngModel)]="YeniSifre" type="password" [min]="6">
    </mat-form-field> 

    <mat-form-field appearance="outline" [style.width.%]="100">
      <mat-label>Yeni Şifreniz Tekrar</mat-label>
      <input matInput placeholder="Yeni Şifreniz Tekrar" [(ngModel)]="YeniSifreTekrar" type="password" [min]="6" >
  </mat-form-field> 
      
    
  </div>
  <div class="modal-footer">  
    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Kapat</button>
    <button type="button" class="btn btn-success" (click)="sifreDegistir()">Güncelle</button>
  </div>
</ng-template>

<ng-template #subemodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" >Şirket Değiştir - {{loguser.AktifSirket}} Şirketinde Çalışmaktasınız</h4> 
  </div>
  <div class="modal-body"> 
    <dx-data-grid
    id="gridMainSubeSec"  #gridMainSubeSec
    [dataSource]="sirketyetkilist"
    [showBorders]="true"
    [showRowLines]="true" 
    [showColumnLines]="false"
    [showRowLines]="true" 
    [rowAlternationEnabled]="true"
    [focusedRowEnabled]="true"
    [columnAutoWidth]="true"
    [allowColumnResizing]="true"
    keyExpr="dbName" 
    columnResizingMode = "widget" 
    [allowColumnReordering]="true" 
    (onRowDblClick)="subeDegistir()"  
    (onSelectionChanged)="subeDegistirChg($event)"
    > 
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-load-panel [enabled]="true"></dxo-load-panel> 
    <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
    <dxo-selection mode="single"></dxo-selection>   
    <dxo-scrolling 
        mode="virtual"
        showScrollbar="'always'"
        useNative="false"
        scrollByThumb="true" >
    </dxo-scrolling> 
    
    <dxi-column dataField="dbName" caption="Şirket" [style.width.%]="10" ></dxi-column>       
    <dxi-column dataField="cmpName" caption="Şirket Adı" [style.width.%]="10" ></dxi-column>       


    </dx-data-grid>  
     
  </div>
  <div class="modal-footer">
    <button type="button" id="finhspkapat" class="btn btn-danger" (click)="modal.dismiss('Cross click')"  #closeBtn>Vazgeç</button>
    <button type="button" class="btn btn-success" (click)="subeDegistir()">Seçim Yap</button>
  </div>
</ng-template>  

   
  </body> 
  </html>
</block-ui> 