<block-ui>
  <!DOCTYPE html>
  <html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta characters="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />  
    <meta http-equiv="Pragma" content="no-cache" />  
    <meta http-equiv="Expires" content="0" />   
    <title>Harman B2B DashBoard</title> 
     
  </head>
  <body class="hold-transition">   
    <div class="wrapper" *ngIf="userLogin"> 
      <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="background-image: linear-gradient(354deg, #485461 0%, #28313b 74%);">
        <div class="dts-head">
          <label style="color: whitesmoke!important;">Harman B2B DashBoard</label>
        </div> 
       
        <ul class="navbar-nav ml-auto">  
          <li class="nav-item dropdown user-menu">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <img src="../../../assets/user-logo.jpg" class="user-image img-circle elevation-2" alt="User Image">

              <span class="d-none d-md-inline" style="display:block ;text-align: center;color: whitesmoke!important;">
                {{loguser.AdSoyad}}
              </span>
              
            </a>
            <ul class="dropdown-menu dropdown-menu-right logindrop">
               
              <li class="user-footer"> 
                <a href="#" (click)="cikisyap()" class="btn btn-danger btn-block">Çıkış</a>
              </li>
            </ul>
          </li>
          
        </ul>
      </nav>  


    <div class="content-wrapper" style="padding: 15px;">  
      <nav class="menu-navigation-icons">
        <a href="#"  class="menu-silver" (click)="filterMod(filtremodal)"><i class="fas fa-filter"></i><span>Filtre</span></a>
        <a href="#" class="menu-silver" (click)="DataLoad()" ><i class="fas fa-sync-alt"></i><span>Yenile</span></a>
    </nav>
    <div style="clear:both"></div>

    <div class="panel-group">
      <div class="panel panel-default"> 
        <div class="panel-body">
          <div class="row" style="padding: 5px;">
            <div class="col-xl-3 col-lg-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0 stats-box-font">GÜNLÜK SATIŞ</h5>
                      <div style="clear: both;"></div>
                      <span class="h3 font-weight-bold mb-0">{{Data.GUNLUKSATIS| number : '1.2-2'}}  TL</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="col-xl-3 col-lg-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0 stats-box-font">HAFTALIK SATIŞ</h5>
                      <div style="clear: both;"></div>
                      <span class="h3 font-weight-bold mb-0">{{Data.HAFTALIKSATIS | number : '1.2-2'}}  TL</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="col-xl-3 col-lg-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0 stats-box-font">AYLIK SATIŞ</h5>
                      <div style="clear: both;"></div>
                      <span class="h3 font-weight-bold mb-0">{{Data.AYLIKSATIS | number : '1.2-2'}}  TL</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="col-xl-3 col-lg-3">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0 stats-box-font">YILLIK SATIŞ</h5>
                        <div style="clear: both;"></div>
                        <span class="h3 font-weight-bold mb-0">{{Data.YILLIKSATIS | number : '1.2-2'}}  TL</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                          <i class="fas fa-chart-bar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>  
          </div> 

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Aylık Satış Dağılımı</div>
        <div class="panel-body">
          
         
          <dx-chart
        id="chart"
        [dataSource]="AylikSatis"
        name="Aylık Satış Dağılımı"
        palette="Harmony Light"
      >
  <dxi-value-axis name="frequency" position="left" [tickInterval]="300">
  </dxi-value-axis>
  <dxi-value-axis
    name="percentage"
    position="right"
    [showZero]="true"
    [tickInterval]="20"
    [valueMarginsEnabled]="false"
  >
    <dxo-label [customizeText]="customizeLabelText"></dxo-label>
    <dxi-constant-line
      [value]="80"
      color="#fc3535"
      dashStyle="dash"
      [width]="2"
    >
      <dxo-label [visible]="false"></dxo-label>
    </dxi-constant-line>
  </dxi-value-axis>
  <dxo-argument-axis>
    <dxo-label overlappingBehavior="stagger"></dxo-label>
  </dxo-argument-axis>
  <dxo-tooltip
    [enabled]="true"
    [shared]="true"
    [customizeTooltip]="customizeTooltip"
  >
  </dxo-tooltip>
  <dxo-common-series-settings argumentField="Ay">
  </dxo-common-series-settings>
  <dxi-series
    type="bar"
    valueField="Tutar"
    axis="frequency"
    name="Tutar"
    color="#fac29a"
  >
  </dxi-series>
  <dxi-series
    type="spline"
    valueField="Tutar"
    axis="percentage"
    name="Değişim"
    color="#6b71c3"
  >
  </dxi-series>
  <dxo-legend verticalAlignment="top" horizontalAlignment="center">
  </dxo-legend>
</dx-chart>

          

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Aylık İade Dağılımı </div>
        <div class="panel-body">
          <dx-chart id="chart" [dataSource]="AylikIade">
            <dxi-series
              argumentField="Ay"
              valueField="Tutar"
              name="Aylık Satış Dağılımı"
              type="bar"
              color="#ffaa66" >
            </dxi-series>
          </dx-chart>

        </div>
      </div> 
      

    </div>
       
    </div>   
  
  </div>  

  <div *ngIf="!userLogin">
    <app-login></app-login>
  </div>
  
<button type="button" hidden class="btn btn-sub btn-danger has-tooltip" id="maindataload" (click)="DataLoad()"> </button> 

  </body> 
  </html>
</block-ui> 


<ng-template #filtremodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" >Filtre</h4> 
  </div>
  <div class="modal-body">

    <mat-form-field appearance="outline" [style.width.%]="100">
      <mat-label>Başlangıç</mat-label> 
      <input matInput [matDatepicker]="dp" placeholder="Başlangıç Tarih"  [(ngModel)]="filter.Baslangic" (ngModelChange)="BasTarihChg($event)">
       <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>

  <mat-form-field appearance="outline" [style.width.%]="100">
    <mat-label>Bitiş</mat-label> 
    <input matInput [matDatepicker]="dp1" placeholder="Bitiş Tarih"  [(ngModel)]="filter.Bitis" (ngModelChange)="BitTarihChg($event)">
     <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
    <mat-datepicker #dp1></mat-datepicker>
  </mat-form-field> 
  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Vazgeç</button>
    <button type="button" class="btn btn-success" (click)="DataLoad()">Data Yükle</button>
  </div>
</ng-template>