

 <div class="content">
     <nav class="menu-navigation-icons">
         <a href="#" class="menu-silver" (click)="GetStokList()"><i class="fas fa-sync-alt"></i><span>Yenile</span></a>
 
         <a href="#" *ngIf="yetki.Export" (click)="this.gridStokList.instance.exportToExcel(false)" style="float: right!important;" class="menu-green" ><i class="fas fa-file-excel"></i><span>Excel</span></a> 
 
     </nav>
     <div style="clear:both"></div>        

     <div class="input-group">       
       <mat-form-field appearance="outline" [style.width.%]="100" style="padding-right: 10px;">
         <input matInput #arakeyw type="search" autocomplete="off" placeholder="Aramak İstediğiniz Stok Bilgisini Kısaca Yazın... Örn: 12345" [(ngModel)]="kalemkeyword" (keyup)="kalemAra($event)">
       
        <button mat-button matSuffix mat-icon-button (click)="aramaTemizle()">
            <mat-icon aria-placeholder="Arama Temizle" title="Arama Temizle" style="color: red;font-weight: bold">cancel</mat-icon>
        </button>
       </mat-form-field> 
       </div>
       
       <div style="clear:both;"></div>
       <dx-data-grid class="devgrid72" #gridStokList
          [dataSource]="datalist"  
          [showBorders]="true"
          [showColumnLines]="false"
          [showRowLines]="true" 
          [rowAlternationEnabled]="true"
          [focusedRowEnabled]="true"
          [columnAutoWidth]="true"
          [allowColumnResizing]="true" 
          [allowColumnReordering]="true"
          keyExpr="DocEntry" 
          columnResizingMode = "widget"   
          (onRowClick)="dataChg($event)" 
          > 
          <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-header-filter [visible]="true"></dxo-header-filter><dxo-header-filter [allowSearch]="true"></dxo-header-filter>  
          <dxo-scrolling 
            mode="virtual"
            showScrollbar="'always'"
            useNative="false"
            scrollByThumb="true" >
         </dxo-scrolling> 
          <dxo-load-panel [enabled]="true"></dxo-load-panel>
          <dxo-paging [pageSize]="30"> </dxo-paging>
          <dxo-pager
              [visible]="true" 
              displayMode="'compact'"
              [showPageSizeSelector]="false"
              [showInfo]="true"
              [showNavigationButtons]="true">
          </dxo-pager> 
          <dxo-header-filter [allowSearch]="true"></dxo-header-filter> 
        
          <dxi-column dataField="ItemCode" caption="Stok Kodu" [style.width.%]="10" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="ItemName" caption="Stok Adı" [style.width.%]="10" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="ItmsGrpNam" caption="Grup Kodu" [style.width.%]="10" [allowEditing]="false"></dxi-column>          
            
     </dx-data-grid>  
 </div>