<div class="content">

    <nav class="menu-navigation-icons">
        <a href="#" *ngIf="yetki.Ekle" class="menu-green" (click)="topluyukle(datamultipleup)"><i class="fas fa-file-excel"></i><span>Excel Yükle</span></a>
        <a href="#" (click)="siparisMod(modSiparisAktarim)" class="menu-blue" ><i class="fas fa-plus-circle"></i><span>Sipariş</span></a> 

        <a href="#" href="../../../../assets/sablon/SIPARIS-SABLON.xlsx" style="float: right!important;" class="menu-blue" title="Sipariş Aktarım Şablon İndir"><i class="fas fa-file-excel"></i><span>Şablon</span></a> 
        <a href="#" *ngIf="yetki.Export" (click)="this.gridDataList.instance.exportToExcel(false)" style="float: right!important;" class="menu-green" ><i class="fas fa-file-excel"></i><span>Excel</span></a> 
    
    </nav>
    <div style="clear:both"></div>
    
        <dx-data-grid class="devgrid74"
        id="gridSabit1" #gridDataList
        [dataSource]="datalist"
        [showBorders]="true" 
        [showRowLines]="true" 
        [rowAlternationEnabled]="true"
        [focusedRowEnabled]="true"
        [columnAutoWidth]="true"
        [allowColumnResizing]="true"
        keyExpr="semkey" 
        [showBorders]="true"
        [showRowLines]="true" 
        [showColumnLines]="false"  
        columnResizingMode = "widget" 
        [allowColumnReordering]="true"
        > 
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter><dxo-header-filter [allowSearch]="true"></dxo-header-filter> 
        <dxo-scrolling 
            mode="virtual"
            showScrollbar="'always'"
            useNative="false"
            scrollByThumb="true" >
        </dxo-scrolling> 
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-paging [pageSize]="30"> </dxo-paging>
        <dxo-pager
            [visible]="true" 
            displayMode="'compact'"
            [showPageSizeSelector]="false"
            [showInfo]="true"
            [showNavigationButtons]="true">
        </dxo-pager>    

        <dxi-column dataField="StokKartNetsisteVar" caption="Netsis Stok Kart" cellTemplate="cellTeslimDurum" [style.width.%]="10" alignment="center" [allowEditing]="false"></dxi-column>
        <div *dxTemplate="let cell of 'cellTeslimDurum'"> 
          <span *ngIf="cell.data.StokKartNetsisteVar" class="badge pill-medium bg-success">Var</span>
          <span *ngIf="!cell.data.StokKartNetsisteVar" class="badge pill-medium bg-danger">Yok</span>    
        </div>
        
        <dxi-column dataField="STOK_KODU" caption="Stok Kodu" [width]="125" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="STOK_ADI" caption="Stok Adı" [width]="275" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="RAF" caption="Raf" [style.width.%]="10" [allowEditing]="false"></dxi-column>       
        <dxi-column dataField="MIKTAR" caption="Miktar" [style.width.%]="10" [allowEditing]="false" alignment="center"></dxi-column>  
        <dxi-column dataField="BAKIYE" caption="Bakiye" [style.width.%]="10" [allowEditing]="false" alignment="center"></dxi-column>  
        <dxi-column dataField="DOVIZTIP" [style.width.%]="10" caption="Döviz Tip"  [allowEditing]="false" alignment="center"></dxi-column> 
        <dxi-column dataField="FIYAT" [style.width.%]="10" caption="Fiyat"  [allowEditing]="false" alignment="right" dataType="number" format="#,##0.00"></dxi-column> 
        <dxi-column dataField="TOPLAM" [style.width.%]="10" caption="Toplam"  [allowEditing]="false" alignment="right" dataType="number" format="#,##0.00"></dxi-column> 
        <dxi-column dataField="SIPARISNO" [style.width.%]="10" caption="Sipariş No"  [allowEditing]="false" alignment="center"></dxi-column> 

        <dxo-summary>
          <dxi-total-item
              column="TOPLAM"
              valueFormat="#,##0.00"
              displayFormat="{0}"
              summaryType="sum">
          </dxi-total-item>           
        </dxo-summary>

        </dx-data-grid> 
    </div>  

 <ng-template #datamultipleup let-modal>
        <div class="modal-header">
          <h4 class="modal-title" >Sipariş Kalem Kontrol</h4> 
        </div>
        <div class="modal-body">
          <div style="clear:both;margin-bottom:15px!important"></div>
    
           <div class="row">
          <input  name="Dosya Seçiniz" title="Dosya Seçiniz" type="file" id="anketbelgeupp" accept=".xls,.xlsx" class="form-control" (change)="uploadFile($event)"/>
          </div>
          <div style="clear:both;margin-bottom:15px!important"></div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Vazgeç</button>
          <button type="button" class="btn btn-success" (click)="kontrolBaslat()">Kontrol Başlat</button>
        </div>
 </ng-template>

 <ng-template #modSiparisAktarim let-modal>
  <div class="modal-header">
    <h4 class="modal-title" >Sipariş Aktarım</h4> 
  </div>
  <div class="modal-body"> 
      
    
    <mat-form-field appearance="outline" [style.width.%]="100">
      <mat-label>Firma Seçiniz</mat-label>
       <input matInput type="search" [(ngModel)]="FirmaAdi" readonly>

       <button *ngIf="FirmaKodu==''" mat-button matSuffix mat-icon-button (click)="firmaSec(carihesapsecmod)">
         <mat-icon style="color: #007bff;font-weight: bold;" title="Firma Seç">search</mat-icon>
       </button>

       <button *ngIf="FirmaKodu!=''" mat-button matSuffix mat-icon-button (click)="firmaTemizle()">
         <mat-icon style="color: red;font-weight: bold" title="Firma Sil">cancel</mat-icon>
       </button>
   </mat-form-field> 

    
    <mat-form-field appearance="outline" [style.width.%]="50">
      <mat-label>Sipariş Tarih</mat-label>
      <input matInput [matDatepicker]="dp2" placeholder="Sipariş Tarih" [(ngModel)]="SiparisTarih" (ngModelChange)="SiparisTarihChg($event)">
       <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
      <mat-datepicker #dp2></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.%]="50">
      <mat-label>Sipariş Tipi</mat-label>
      <mat-select name="SipTipId" [(ngModel)]="SipTipId" (ngModelChange)="sipTipChg($event)">  
        <mat-option [value]="0">Seçiniz</mat-option>
        <mat-option [value]="7">Alınan Siparişler</mat-option>
        <mat-option [value]="6">Verilen Siparişler</mat-option> 
      </mat-select>
   </mat-form-field> 

    <mat-form-field appearance="outline" [style.width.%]="50">
      <mat-label>Sipariş No</mat-label>
      <input matInput placeholder="Sipariş No" [(ngModel)]="SiparisNo" maxlength="15" minlength="15">
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.%]="50">
      <mat-label>Plasiyer</mat-label>
        <mat-select  #singleSelect [(ngModel)]="PlasiyerKod">
          <mat-option>
            <ngx-mat-select-search [formControl]="formPla"  
             placeholderLabel="Ara..."
             noEntriesFoundLabel="Kayıt Bulunamadı...">
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let gr of filterPla | async" [value]="gr.PLASIYER_KODU" >
            {{gr.PLASIYER_ADI}}
          </mat-option>
        </mat-select>
        <button mat-button matSuffix *ngIf="PlasiyerKod!=''" mat-icon-button (click)="defPla($event)">
           <mat-icon>close</mat-icon>
       </button>
    </mat-form-field>  

   <mat-form-field appearance="outline" [style.width.%]="50">
    <mat-label>Sipariş Türü</mat-label>
    <mat-select name="SipTurId" [(ngModel)]="SipTurId">  
      <mat-option [value]="0">Seçiniz</mat-option>
      <mat-option [value]="7">Yurt İçi</mat-option>
      <mat-option [value]="8">Yurt Dışı</mat-option> 
    </mat-select>
 </mat-form-field> 

 <mat-form-field appearance="outline" [style.width.%]="50">
  <mat-label>Depo</mat-label>
    <mat-select  #singleSelect [(ngModel)]="DepoKodu">
      <mat-option>
        <ngx-mat-select-search [formControl]="formDepo"  
         placeholderLabel="Ara..."
         noEntriesFoundLabel="Kayıt Bulunamadı...">
        </ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let gr of filterDepo | async" [value]="gr.DEPO_KODU" >
        {{gr.DEPO_ISMI}}
      </mat-option>
    </mat-select> 
</mat-form-field>

<mat-form-field appearance="outline" [style.width.%]="50">
  <mat-label>İthalat Tip</mat-label>
    <mat-select  #singleSelect [(ngModel)]="IthalatTip">
      <mat-option>
        <ngx-mat-select-search [formControl]="formIhr"  
         placeholderLabel="Ara..."
         noEntriesFoundLabel="Kayıt Bulunamadı...">
        </ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let gr of filterIhr | async" [value]="gr.ErpId" >
        {{gr.Code}}
      </mat-option>
    </mat-select>
    <button mat-button matSuffix *ngIf="IthalatTip!=0" mat-icon-button (click)="defIhr($event)">
       <mat-icon>close</mat-icon>
   </button>
</mat-form-field>  

  </div>
  <div class="modal-footer"> 
    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Kapat</button>
    <button type="button" class="btn btn-success" (click)="siparisOlustur()">Sipariş Oluştur</button>
  </div>
</ng-template>

     
<ng-template #carihesapsecmod let-modal>
  <div class="modal-header">
    <h4 class="modal-title" >Firma Seç</h4> 
  </div>
  <div class="modal-body"> 
      <div class="row">
          <div class="input-group">
            <input type="text" class="form-control" autocomplete="off" placeholder="Aramak İstediğiniz Hesabı Kısaca Yazın..." [(ngModel)]="kalemkeyword" (keyup)="firmkalemAra($event)">
            <span class="input-group-btn">
              <button class="btn btn-danger btn-mini" title="Arama Temizle" (click)="firmaramaTemizle()">
                <span class="fas fa-window-close"></span>
              </button>
          </span>
        </div>
        </div>
        <div style="clear:both"></div>
        <hr/>
        <dx-data-grid  #gridEvHesapSecim class="devgrid39"
        [dataSource]="firmalist"
        [showBorders]="true"
        [showRowLines]="true" 
        [showColumnLines]="false"
        [showRowLines]="true" 
        [rowAlternationEnabled]="true"
        [focusedRowEnabled]="true"
        [columnAutoWidth]="true"
        [allowColumnResizing]="true"
        keyExpr="CARI_KOD" 
        columnResizingMode = "widget" 
        [allowColumnReordering]="true"  
        (onSelectionChanged)="onFirmaChg($event)" 
        (onRowDblClick)="firmaSecimYap()"  
        > 
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-scrolling 
        mode="virtual"
        showScrollbar="'always'"
        useNative="false"
        scrollByThumb="true" >
      </dxo-scrolling> 
      <dxo-paging [pageSize]="999"> </dxo-paging>
      <dxo-pager
          [visible]="true"
          displayMode="'compact'"
          [showPageSizeSelector]="false"
          [showInfo]="true"
          [showNavigationButtons]="true">
      </dxo-pager>
      <dxo-selection mode="single"></dxo-selection> 
              
        <dxi-column dataField="CARI_KOD" caption="Firma Kodu" [style.width.%]="10" alignment="center"></dxi-column>
        <dxi-column dataField="CARI_ISIM" caption="Firma Adı" [style.width.%]="10"></dxi-column>        
        <dxi-column dataField="CARI_TIP" caption="Firma Tip" [style.width.%]="10" alignment="center"></dxi-column>
        
        </dx-data-grid>  
  </div>
  <div class="modal-footer">
    <button type="button" id="btnfirmakapat" class="btn btn-danger" (click)="modal.dismiss('Cross click')"  #closeBtn>Vazgeç</button>
    <button type="button" class="btn btn-success" (click)="firmaSecimYap()">Seç</button>
  </div>
</ng-template>