<div class="content">
    <nav class="menu-navigation-icons">
      <!-- <a href="#" class="menu-blue"><i class="fas fa-plus-circle" (click)="SenaryoGetir()"></i><span>Senaryo</span></a>  -->
      <!-- <a href="#" class="menu-silver"  ><i class="fas fa-sync-alt"></i><span>Yenile</span></a>  -->
      <a href="#"  class="menu-green"  ><i class="fas fa-check"></i><span> Onay </span></a>  
      <a href="#"  class="menu-red"  ><i class="fas fa-ban"></i><span>Ret</span></a>
      <a href="#"  class="menu-green"  ><i class="far fa-check-circle"></i><span> Şartlı Onay</span></a>  
     
      <a href="#"  style="float: right!important;" class="menu-green" ><i class="fas fa-file-excel"></i><span>Excel</span></a> 
      <a href="#"  class="menu-magenta" style="float: right!important;"><i class="fas fa-file-pdf"></i><span>Pdf</span></a> 
    </nav>
    <div style="clear:both"></div>
    <div class="panel panel-default">
        <div class="panel-body">
            <label class="panel-baslik">Genel Bilgiler</label>
            <div class="clear-fix"></div> 
            
            

        </div>
    </div>
     
  
    <div class="panel panel-default">
        <div class="panel-body">
            <label class="panel-baslik">Kalite Sonuçları</label>
            <div class="clear-fix"></div> 
            <mat-tab-group mat-align-tabs="start"  animationDuration="0ms">
                <mat-tab label="Kalite Sonuçları"> 
                    <div class="card">
                        
                    </div>  
                </mat-tab>
            
                <mat-tab label="Ekler">
                    <div class="card">
                
                    </div>  
                </mat-tab>  
            
            </mat-tab-group>  
              
        </div>

        <div class="clear-fix"></div> 

    
     
    </div>
     