.datagiriscolor { 
    background-color: #f3f3f3 !important;
    color: black!important;
}

.d-none {
    display: none;
  }
  
  .button {
    background-color: #123456;
    color: white;
    padding: 5px 8px;
    text-align: center;
  }

.panel-baslik
{
    text-decoration: underline;
    margin-bottom: 15px;
    margin-left: 10px;
}  